*{
	margin: 0;
	padding:0;
}
button{
	border: 1px solid #bebebe;
    padding: 5px;
}
pre{
	    border: 1px solid #e7e7e7;
    background: #2a2a2a;
    color: #fff;
    width: 900px;
    margin-bottom: 50px;
}